{% extends 'shop/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'shop/css/authentication.css' %}">
</head>
<body>
   <div class="container py-4 mb-4 h-100">
      <div class="d-flex justify-content-center h-100">
         <div class="user_card">

            <form method="POST">
               {% csrf_token %}
               <fieldset class="form-group">
                  <div class="d-flex justify-content-center">
                     <h2 id="form-title">Iniciar Sesion</h2>
                  </div>
                       {{ form|crispy }}
               </fieldset>   
               <div class="form-group d-flex justify-content-center">
                  <button class="btn btn-light" type="submit">Entrar</button>
               </div>
           </form>
  
            <div class="mt-4">
               <div class="d-flex justify-content-center links">
                  Tiendes cuenta? <a href="{% url 'login' %}" class="ml-2"> Inicia Sesion</a>
               </div>
               <div class="d-flex justify-content-center links">
                  Olvido sus credenciales? <a href="{% url 'password_reset' %}" class="ml-2"> Resetear</a>
               </div>
            </div>      
         </div>
      </div>
   </div>

   {% endblock %}
            <!-- <form method="POST" action="">
               {% csrf_token %}
               <div class="d-flex justify-content-center form_container">
                  <div class="input-group mb-2">
                     <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                     </div>
                     <input type="text" required name="username" placeholder="Username" value="{{ data.username }}" />
                  </div>
                  <div class="input-group mb-2">
                     <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                     </div>
                     <input type="text" required name="email" placeholder="email" value="{{ data.email }}" />
                  </div>
                  <div class="input-group mb-2">
                     <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                     </div>
                     <input type="password" required name="password" placeholder="Password" />
                  </div>
                  <div class="d-flex justify-content-center mt-3 login_container">
                     <input class="btn login_btn" type="submit" value="Iniciar Sesion">
                  </div>
            </form> -->
         </body>