appdirs
asgiref
autopep8
boto3
certifi
coverage
cython
distlib
django
djangorestframework
django-compressor
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-heroku
django-jazzmin
django-redis
django-redis-cache
djangorestframework-simplejwt
django-storages
dj-database-url
faker
filelock
gunicorn
imagekitio
Pillow
pytz
redis
requests
sqlparse
psycopg2
# psycopg2>=2.7,<2.8 --no-binary psycopg2
# psycopg2==2.7.7
# psycopg2-binary==2.7.7
# psycopg2==2.9.0
psycopg2-binary
# psycopg2-binary==2.9.0
python-decouple
six
sqlparse
supervisor
text-unidecode
toml
urllib3
validate-email
whitenoise