#hero {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(55, 142, 181, 0.5), rgba(55, 142, 181, 0.2)), url("../img/newlogo.png") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px 0 2px #2f4d5a;
}

#hero h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: -1px 0 2px #2f4d5a;
}

#hero .btn-get-started {
    font-size: 36px;
    display: inline-block;
    padding: 4px 0;
    border-radius: 50px;
    transition: 0.3s ease-in-out;
    margin: 10px;
    width: 64px;
    height: 64px;
    text-align: center;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    padding-top: 8px;
    background: rgba(20, 180, 300, 0.4);
}

.mySlides {
    width: 100%;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    .mySlides {
        width: 100%;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

.section-bg {
    background-color: #f4f9fc;
    color: #000000;
}

.section-title {
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    color: #0b90c9;
    z-index: 2;
}

.section-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 122px;
    height: 66px;
    z-index: -1;
}

.section-title p {
    margin-bottom: 0;
    color: #000000;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about {
    background: linear-gradient( rgba(142, 196, 221, 0.8), rgba(142, 196, 221, 0.8)), url("../img/about-bg.png") center center no-repeat;
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

.about::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 9;
}

.about .container {
    position: relative;
    z-index: 10;
}

.about .content {
    padding: 30px 30px 30px 0;
}

.about .content h3 {
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-bottom: 30px;
}

.about .content p {
    margin-bottom: 30px;
    color: #000000;
}

.about .content .about-btn {
    display: inline-block;
    background: #3aa2cf;
    padding: 6px 44px 8px 30px;
    color: #000000;
    border-radius: 50px;
    transition: 0.3s;
    position: relative;
}

.about .content .about-btn i {
    font-size: 16px;
    position: absolute;
    right: 18px;
    top: 9px;
}

.black {
    color: #000000;
}

.about .icon-boxes .icon-box {
    margin-top: 30px;
}

.about .icon-boxes .icon-box i {
    font-size: 38px;
    color: #3aa2cf;
    margin-bottom: 10px;
}

.about .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.about .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}

@media (max-width: 1200px) {
    .about .content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .about {
        text-align: center;
    }
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding-bottom: 30px;
}

.counts .count-box {
    padding: 30px;
    width: 100%;
}

.counts .count-box i {
    display: block;
    font-size: 44px;
    color: #3aa2cf;
    float: left;
    line-height: 0;
}

.counts .count-box span {
    font-size: 48px;
    line-height: 40px;
    display: block;
    font-weight: 700;
    color: #2f4d5a;
    margin-left: 60px;
}

.counts .count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 60px;
    font-family: "Playfair", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #49788c;
}

.counts .count-box a {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    color: #49788c;
    font-size: 15px;
    font-family: "Playfair", "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
    color: #6e9fb4;
}


/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/

.cta {
    background: linear-gradient(rgba(142, 196, 221, 0.8), rgb(84, 14, 112)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 60px 0;
}

.cta h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

.cta p {
    color: #000000;
}

.cta .cta-btn {
    font-family: "Playfair", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 25px;
    transition: 0.5s;
    margin-top: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
}

.cta .cta-btn:hover {
    border-color: rgba(0, 204, 255, 0.574);
}