{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Detalles{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'shop/css/catalog.css' %}">
<main id="main">
	<h1 style="text-align: center;" class="mb-4 py-2"><strong>Detalle del Producto</strong></h1>
<div class="row">
	<div class="col-lg-6">
		
		<img style="margin-left: 15px; border:1px solid rgb(116, 8, 224)" src="{{product.imageURL}}" width="80%">
	</div>

	<div style="padding:50px" class="col-lg-6">

		<h2>{{product.title}}</h2>
		<hr style="color: skyblue">
		
		<form method="POST" action="{% url 'product' product.id %}">
			{% csrf_token %}
			<input min="1" value=1 type="number" name="quantity">
			<input class="btn btn-primary" type="submit" value="Al carrito">
		</form>

		<h2>Precio: ₡{{product.price}}</h2>
	</div>
</div>

<div id="react_container"></div>

{% endblock content %}

{% block extra_javascript %}
<script src="{% static 'shop/tabla.js' %}" type = "text/babel" ></script>
{% endblock %}

